.image-col img {
  max-width: 100px;
}

ul.dott-action {
  padding: 0;
  list-style: none;
}

ul.dott-action li {
  display: inline-block;
}

.dottMsg {
  padding: 20px 10px;
}
.dott-button-r {
  float:right;
  margin-left: 10px;
}
.comb-prod {
  display: none;
}
a.see-combination, a.see-combination:focus {
  text-align: center;
  outline: none;
  text-decoration: none !important;
}
.see-combination i {
  font-size: 25px;
  display: block;
}
.see-combination .icon-caret-down {
  display: none;
}
.see-combination.caret-open .icon-caret-down {
  display: block;
}
.see-combination.caret-open .icon-caret-left {
  display: none;
}

th .title_box a:first-child {
  margin-left: 5px;
}
.order-link.order-link-active {
  color: #000000;
}

#resultsPerPage {
  float: left;
  width: 70px;
  margin-right: 15px;
  font-size: 14px;
}
ul.dott-pagination {
  padding:0;
  text-align: center;
  margin-top: 30px;
}
ul.dott-pagination li {
  display: inline-block;
  margin: 0 5px;
  font-size: 15px;
}
ul.dott-pagination li a {
  padding: 5px 7px;
}
ul.dott-pagination li.active a {
  background: #00aff0;
  color: #fff;
}
.combNotif {
  background: #00aff0;
  color: #fff;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  padding-top: 1px;
  position: relative;
  top: -2px;
  margin-left: 10px;
}
.filter-container .row {
  padding: 20px 0;
}
#productDottListForm input[type=number] {
  font-family: "Open Sans",Helvetica,Arial,sans-serif,"FontAwesome" !important;
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 8px;
  font-size: 12px;
  line-height: 1.42857;
  color: #555;
  background-color: #F5F8F9;
  background-image: none;
  border: 1px solid #C7D6DB;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
#priceVariationQuantity,
.priceVariation select {
  width: 150px !important;
  display: inline !important;
}
.select-placeholder {
  opacity: 0.7;
}
.linoInlineForm input[type=text],
.linoInlineForm input[type=file],
.linoInlineForm select {
  width: 200px;
  margin-bottom: 10px;
}
#content.bootstrap .panel-heading .panel-heading-action #productDottSaveFiltered,
#content.bootstrap .panel-heading .panel-heading-action #productDottSaveNotFiltered {
  float: left;
  padding: 5px 8px 4px !important;
  font-size: 13px;
}